.news-header{
    padding:10px;
    display:flex;
    flex-direction: column;
    gap:10px;
}
 
.search-bar{
    position:relative;
}
  
.search-bar input{
    width:100%;
    padding:10px;
    padding-left:40px;
    border:1px solid lightgray;
    border-radius:16px;
    font-family: "Montserrat";
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search-bar input:focus{
    outline:none;
}

.icon{
    position:absolute;
    left:15px;
    top:50%;
    font-size: 20px;
    transform:translatey(-50%);
    cursor:pointer;
}
  