.profile{
    height:100%;
    max-width: 1000px;
    margin: auto;

    .top{
        display:flex;
        padding:20px;
        justify-content: space-between;

        .logout{
            display: flex;
            align-items: center;
            background-color: var(--red-primary);
            padding:10px;
            border-radius: 10px;
            cursor: pointer;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            h4{
                margin-right: 5px;
            }
        }
    }

    .card{
        background-color: var(--secondary-bg);
        padding:20px;
        margin: 20px;
        border-radius: 10px;
        display: flex;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
        
        .left{
            flex: 2;
            height:100px;

            svg{
                height: 100%;
                width:100%;
            }
        }

        .right{
            flex:6;
            text-align: right;
        }
    }

    .navigation{
        padding:20px;
        display: flex;
        gap:30px;
        display: flex;
        flex-wrap:wrap;
        margin-bottom: 100px;

        .item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap:20px;
            padding:30px 30px;
            flex: 1;
            user-select: none;
            cursor: pointer;

            &:nth-of-type(1){
                background: rgba(43, 247, 6, 0.5);
                border-radius: 16px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                border: 1px solid rgba(24, 131, 5, 0.3);
            }

            &:nth-of-type(2){
                background: rgba(6, 247, 218, 0.5);
                border-radius: 16px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                border: 1px solid rgba(6, 172, 152, 0.3);
            }

            &:nth-of-type(3){
                background: rgba(184, 13, 223, 0.2);
                border-radius: 16px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                border: 1px solid rgba(184, 13, 223, 0.3);
            }

            .icon{
                font-size: 48px;
            }
        }
    }
    .mdboss{
        position:absolute;
        left:50%;
        transform:translateX(-50%);
        bottom:0px;
        font-size: 12px;
    }
}




