.profile{
    height:100%;
    max-width: 1000px;
    margin: auto;
}

.top{
    display:flex;
    padding:20px;
    justify-content: space-between;
}

.logout{
    display: flex;
    align-items: center;
    background-color: var(--red-primary);
    padding:10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logout h4{
    margin-right: 5px;
}

.card{
    background-color: var(--secondary-bg);
    padding:20px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.right{
    flex:6;
    text-align: right;
}

.left{
    flex: 2;
    height:100px;
}

.left svg{
    height: 100%;
    width:100%;
}

.navigation{
    padding:20px;
    display: flex;
    gap:30px;
    display: flex;
    flex-wrap:wrap;
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    padding:30px 30px;
    background-color: #fff;
    border-radius: 10px;
    flex: 1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    user-select: none;
    cursor: pointer;
}

.item:nth-of-type(1){
    background: rgba(43, 247, 6, 0.5);
    border-radius: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(24, 131, 5, 0.3);
}

.item:nth-of-type(2){
    background: rgba(6, 247, 218, 0.5);
    border-radius: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(6, 172, 152, 0.3);
}

.item:nth-of-type(3){
    background: rgba(184, 13, 223, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(184, 13, 223, 0.3);
}

.icn{
    font-size: 48px;
}


.mdboss{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:80px;
}