.loadingContainer{
  position:absolute;
  top:50%;
  left:50%;

  .loading{

    width:100px;
    height: 100px;
    background-color:#eb3349;
    border-radius: 20%;
  }
      
  h2{
    transform:translateX(-50%);
    margin-top: 20px;
  }
}