.form{
    position:absolute;
    bottom:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    *{
        width:100%;
        margin: 5px;
    }

    span{
        color:gray;
        font-size: 12px;
        cursor: pointer;

        &:hover{
            color:#333; 
        }
    }

    input{
        font-family: "Montserrat";
        font-size: 20px;
        background-color: transparent;
        border:none;
        border-bottom: 1px solid gray;
        outline:none;

        &:focus{
            border-bottom:1px solid #eb3349;
        }
    }
    
    .button{
        margin-top: 30px;
   }
   
   .empty{
       margin: 0 !important;
       display:flex;
       justify-content: center;
   }
}

